.navBar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.icon1 {
  width: 55px;
  margin-right: 50%;
}

.icon2 {
  width: 35px;
  margin-left: 20px;
}

.details {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.name {
  font-family: "Source Sans Pro", sans-serif;
  color: #281c43;
}

.time {
  font-family: "Source Sans Pro", sans-serif;
  color: #281c43;
  margin-left: 20px;
}

.messages {
  margin: 4px, 4px;
  padding: 4px;
  /* background-color: green; */
  /* width: 500px; */
  height: 115vw;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}

.inputField {
  position: fixed;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.typeText {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  color: #3e3e3e;
  width: 80vw;
  height: 13vw;
  border: 0;
  border-radius: 10px;
  padding: 10px;
}

.sendIcon {
  width: 30px;
  margin-left: 15px;
  cursor: pointer;
}
